html {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    color: white;
    background: url(./assets/background.jpg);
    background-size: cover;
}

img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

button {
    display: inline-block;
    padding: 15px 80px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  button:hover {background-color: #3e8e41}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

